.header {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
li {
  display: flex;
  list-style: numeric;
  text-align: center;
  gap: 70px;
  margin-left: 40px;
}
html {
  scroll-behavior: smooth;
}
